<div id="top-menu" class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
  <a href="" class="pure-menu-heading">KhandipIn</a>
  <ul>
    <li class="pure-menu-selected"><a href="home.html">Home</a></li>
    <li><a href="">Pricing</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</div>